extends ./base/base.pug

block body
  .flex.h-screen
    .m-auto.bg-white
      h1.text-6xl 404 &#x1F633;
      a.px-4.py-2.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-indigo-600.inline-flex.items-center(
        class="hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700",
        href="/"
      )
        svg.fill-current.w-4.h-4.mr-2(
          xmlns="http://www.w3.org/2000/svg",
          fill="none",
          viewbox="0 0 24 24",
          stroke="currentColor"
        )
          path(
            stroke-linecap="round",
            stroke-linejoin="round",
            stroke-width="2",
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          )
        |
        | back
