<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <script>
            {{{assets.modernizr}}}
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{#if debug}}{{#each assets.styles}}
        <link type="text/css" rel="stylesheet" href="/styles/src/{{this}}"/>{{/each}}
    {{else}}
        <link type="text/css" rel="stylesheet" href="{{assetPath "styles/app.min.css"}}"/>{{/if}}
    <title>🌎 Download Your TripAdvisor Travel Map 🌎</title>
</head>
<body>
{{{assets.svg}}}
<div class="content">
    <header class="welcome">
        <h1 class="welcome__title">Download Your TripAdvisor Travel Map</h1>
    </header>

    <p class="splash-subhead example">
        Just enter your <a href="http://www.tripadvisor.com"><span>TripAdvisor</span><svg class="icon icon--expandable icon-link" viewBox="0 0 14 14">
            <use xlink:href="#icon-link"></use>
        </svg></a> Profile URL <span
            class="example__hint">e. g. http://www.tripadvisor.com/members/christianhaller (that's me)</span></p>

    <form class="pure-form url-form mod-url mod" action="/magic" data-connectors="ajax">
        <input class="url-form__input" type="text" id="url" value="" autofocus name="url">
        <button type="submit" class="pure-button pure-button-primary url-form__submit">go</button>
        <div class="pure-alert-error pure-alert url-form__alert mod mod-alert" data-connectors="ajax">
            <svg class="icon icon-wondering" viewBox="0 0 14 14">
                <use xlink:href="#icon-wondering"></use>
            </svg>
            <span></span></div>
    </form>


    <div class="mod-response mod" data-connectors="ajax">
        <nav class="pure-menu pure-menu-open pure-menu-horizontal main-nav">
        </nav>
        <div class="tab jvectormap" id="map" data-zoomlevel>
            <!--<table class="pure-table mod mod-stats stats">
                <tr>
                    <th>Cities</th>
                    <td class="cities"></td>
                </tr>
                <tr>
                    <th>Countries</th>
                    <td class="countries"></td>
                </tr>
            </table>-->
            <div class="mod-map mod"></div>
            <div class="download-bar pure-menu pure-menu-open pure-menu-horizontal">

                <strong class="this-is">This is <span class="js-this-is__city download-bar__city">your travelmap</span></strong>
                <ul>
                    <li><a class="js-download-bar__button download-bar__button pure-button pure-button-success">
                        <svg class="icon" viewBox="0 0 14 14">
                            <use xlink:href="#icon-box-add"></use>
                        </svg>
                        <span>Download<span class="js-filesize download-button__filesize"></span></span>

                    </a></li>
                </ul>
            </div>

        </div>
        <div class="tab" id="google-static-map"></div>
    </div>
</div>{{#if debug}}
    {{#each assets.scripts}}
        <script src="/scripts/src/{{this}}"></script>
    {{/each}}{{else}}
    <script src="{{assetPath "scripts/app.min.js"}}"></script>{{/if}}
</body>
</html>