<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://browsehappy.com/"/>
    <![endif]-->
    <link rel="dns-prefetch" href="//www.google-analytics.com"/>
    <link rel="dns-prefetch" href="//ajax.googleapis.com"/>
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="//fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="//{{awsApiGatewayHostname}}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="theme-color" name="theme-color" content="#4527A0">
    <meta name="microid" content="mailto:http:sha1:85a36cacd2230575172266f765d9dfba059906ec">
    <style>{{{stylesheet}}}</style>
    <meta name="Description"
          CONTENT="Download your TripAdvisor Travelmap. You only need your Profile URL, one click and a second waiting time.">
    <link rel="author" href="https://plus.google.com/+ChristianHaller1982"/>
    <title>Download Your TripAdvisor Travel Map 📍</title>
</head>
<body>
<div class="content">
    <header class="welcome">
        <h1 class="welcome__title">Download Your TripAdvisor Travel Map</h1>
    </header>

    <p class="splash-subhead example">
        Just enter your <a href="http://www.tripadvisor.com/MemberProfile"><span
            class="icon icon-link">TripAdvisor</span>
    </a> Profile URL, press submit and wait for ~ 5 seconds.<span
            class="example__hint">e. g. http://www.tripadvisor.com/members/christianhaller</span></p>

    <form class="pure-form url-form mod-url mod" method="get" action="{{path}}" data-connectors="ajax">
        <input class="url-form__input" type="text" id="url" value="" autofocus name="url">
        <button type="submit" class="pure-button pure-button-primary url-form__submit">submit

        </button>
        <div class="pure-alert-error pure-alert url-form__alert mod mod-alert" data-connectors="ajax">

            <span></span></div>
    </form>


    <div class="mod-response mod is-hidden" data-connectors="ajax">
        <div class="tab jvectormap" data-zoomlevel>
            <div class="download-bar pure-menu pure-menu-open pure-menu-horizontal">

                <strong class="this-is">Hi <span class="js-username this-is_username">mate</span>, this is <span
                        class="js-this-is__city download-bar__city">your travelmap</span></strong>
                <ul>
                    <li><a class="js-download-bar__button__kml download-bar__button pure-button pure-button-success">
                        <span class="icon icon-download">Download KML</span>
                    </a></li>
                    <li><a class="js-download-bar__button__csv pure-button download-bar__button pure-button-success">

                        <span class="icon icon-download">Download CSV</span>
                    </a></li>

                </ul>
            </div>
            <div class="js-stats-bar stats-bar">
                <span>number of countries visited: </span><span class="country"></span>

                (<span class="percent"></span>)
                <span>number of cities visited: </span><span class="city"></span>
            </div>
            <div id="jvectormap" class="jvectormap__container"></div>
        </div>
    </div>
</div>
<footer class="footer">
    <a href="http://www.tripadvisor.com/ShowTopic-g1-i12105-k4907156-o20-How_can_I_download_my_travel_map_pins_list-TripAdvisor_Support.html">About</a>

    <a class="icon icon-octocat" href="https://github.com/christianhaller/download-your-travelmap">github</a>
    {{#if buildId}}
        <a href="https://travis-ci.org/christianhaller/download-your-travelmap/builds/{{buildId}}"
           class="icon-travisci icon">build: #{{buildNumber}}</a>
    {{else}}
        <span class="icon-travisci icon">build: 0</span>
    {{/if}}
</footer>
<script>{{{script}}}</script>
<noscript>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all">
</noscript>
</body>
</html>
