<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{#if debug}}{{#each assets.styles}}
            <link type="text/css" rel="stylesheet" href="/styles/src/{{this}}"/>{{/each}}
        {{else}}
    <link type="text/css" rel="stylesheet" href="{{assetPath "styles/app.min.css"}}"/>{{/if}}
    <title>🌎 Download Your TripAdvisor Travel Map  🌎</title>
</head>
<body>
<div class="content">
    <h1>Download Your TripAdvisor Travel Map</h1>

    <p class="splash-subhead">
        Just enter your TripAdvisor Profile URL <span>e. g. http://www.tripadvisor.com/members/christianhaller (that's me)</span></p>

    <form id="form" class="pure-form mod-url mod" action="/magic"  data-connectors="map">
        <input type="text" id="url" value="" name="url">
        <button type="submit" class="pure-button pure-button-primary">go</button>
        <div class="pure-alert-error pure-alert"></div>
    </form>


    <div class="mod-response mod" data-connectors="map">
        <nav class="pure-menu pure-menu-open pure-menu-horizontal main-nav">
            <!--<ul>
                <li class="pure-menu-selected"><a href="#jvectormap">Map</a></li>
                <li><a href="#google-static-map">Google Static Maps</a></li>
                <li class="csv"><a href="#csv">csv Download</a></li>
            </ul>-->
        </nav>
        <div class="tab show" id="map">
            <table class="pure-table mod mod-stats">
                <tr>
                    <th>Cities</th>
                    <td class="cities"></td>
                </tr>
                <tr>
                    <th>Countries</th>
                    <td class="countries"></td>
                </tr>
            </table>
            <div class="mod-map mod"></div>
            <strong>This is <span>your travelmap</span></strong>
        </div>
        <div class="tab" id="google-static-map"></div>
        <div class="tab" id="csv">
            <a href="#" class="button-xlarge pure-button">Download (csv)</a>
        </div>
    </div>
</div>{{#if debug}}
    {{#each assets.scripts}}<script src="/scripts/src/{{this}}"></script>
    {{/each}}{{else}}<script src="{{assetPath "scripts/app.min.js"}}"></script>{{/if}}
</body>
</html>